PREFECT_API_URL=http://127.0.0.1:4200/api
PREFECT_WORK_POOL_NAME=docker-demo-pool
PREFECT_RUNTIME_IMAGE=ghcr.io/ralacher/prefect-demo-runtime:latest
PREFECT_DOCKER_NETWORK=podman
PREFECT_CONTAINER_API_URL=http://host.containers.internal:4200/api
PREFECT_SOURCE_REPOSITORY=https://github.com/ralacher/prefect-demo.git
PREFECT_SOURCE_BRANCH=main
DOCKER_HOST=npipe:////./pipe/docker_engine
